.portalContainer{
    display: flex;
}
.sideBar{
    flex: 2;
    height: 100vh;
    background-color: #FFFFFF;
    box-shadow: #FFFFFF;
}
.studentsData{
    flex: 8;
    height: 100vh;
    background-color: rgb(226, 225, 225);
}
.sidebarHeading{
    font-weight: bold;
    text-align: center;
    margin-top : 100px;
    margin-bottom: 20px;
}

.sideBar > ul {
    list-style: none;
}
.sideBar > ul > li {
    margin: 5px;
    
}
.listItem{
    margin-bottom: 10px;
    font-weight: 400;
    cursor: pointer;
}
.stdIcon{
    height: 30px;
    color: whitesmoke;
    font-weight: bold;
    padding : 3px 10px   ;
    border-radius: 50%;
    background-color: #5C93FA;
    margin-left: 15px;
}
.portalHead{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.addStudentBtn{
    background-color: #5C93FA;
    border-color: #5C93FA;
    color: whitesmoke;
    font-weight: bold;
    padding: 2px 5px;
}