.tableHead{
    background-color: #5C93FA;
    width: 100%;
    color: white;
    height: 45px;
    border-radius: 15px;
    padding : 10px
}
.passInp:focus{
    border: none;
}
.td{
    text-align: center;
}
.eyeIcon  , .editIcon{
    font-size: 22px;
    cursor: pointer;
}
.eyeIcon:active{
    opacity: 0.6;
}

.eyeIcon{
    text-align: center;
}